* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* * ::-webkit-scrollbar {
  width: 10px;
  

} */

/* Track */
/* * ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  
} */

/* Handle */
/* * ::-webkit-scrollbar-thumb {
  background: whitesmoke;
} */




.container-row-buttons {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
  /* position: fixed; */
  width: 10vw;
}
.container-column {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}


.whole-div  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  margin-left: 50px;
  width: 80vw;
  float: right;
  margin: 20px;
}
#side-pannel {
  display: flex;
  flex-direction: column;
  position: fixed;

  width: 20vw;
  
  float: left;
  overflow: auto;
  
}
div#recent_posts {
 margin: 0 !important; 
}
#recent_posts div {
  width: 17vw;
  margin: 20px;
}
#recent_posts img {
  display: none;
}
#recent_posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60vh;
  width: 25vw;
  overflow: auto;

}
.left-side-flex {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
}


.middle-page-flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
  height: 100vh;
}


.right-side-flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* div.div-article-main div {
  margin: 20px;
} */
div.container-row-buttons {
  justify-content: space-evenly;
}

.buttons {
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-style: none;

  
}
.buttons-post {
  padding: 8px;
  background-color: #333333;
  font-weight: bold;
  margin: 5px;
  color: #66ff66 !important;
}
.buttons:hover {
  color: #66ff66;
}




#headline {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333333;
  color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  display: none;

}
div#headline {
  height: 100%;
  padding: 50px;
}
#list_repos div {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-style: none !important;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #333333 !important;
  color: whitesmoke;
}

#list_repos a {
  color: #66ff66;
  font-weight: bolder;
}
h5#num_repos {
  color: #66ff66;

}
h3#username_text {
  color: #66ff66;
}
#u_name_anchor {
  color: #66ff66;
}
#list_repos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center !important;

}

button {
  background-color: #333333;
  color: whitesmoke;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-style: none !important;
  border-color: none !important;
}
#post_form {
  display: none;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  
  border: solid 2px #66ff66;
  position: fixed;  
  width: 60vw;
  top: 25%;
  right: 20%;

}
#post{
  background-color: whitesmoke !important;
  padding: 30px;

}
h3#post_form {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);

}
#post_form textarea {
  color: #333333;
  background-color: #66ff66;
  width: 50%;
  margin: 0 auto;
  font-size: xx-large;
}

.box-banner {
  color: #66ff66;
  
  text-align: center;
}
div.box-banner {
  background-color: #333333;
}

header img {
  height: 3vh;
}
textarea#post_text {
  margin: 25px;
color: whitesmoke;
  background-color: #333333;
  text-align: center;
  width: 66%;
  
}

#trending-articles-results {
  overflow: auto;
  height: 100vh;
  width: 60vw;
  margin: 0 auto;
}
.profile-section {
  margin: 12px;
    
}

#avatar {
  width: 20vw;

  

}

h5#bio_text {
  color: whitesmoke;
  text-align: center;
  
}


#github_icon {
    width: 4vw;
}
#footer {
  text-align: center;
  margin: 0 auto;
  color: #333333;
  background-color: black;
  
}
#login {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
#jumbo {
  color: #333333;
  padding: 50px;
  margin: 12px;
  text-align: center;
    /* word-break: break-all; */
  background-color: black;
}





.wicked-background {
  color: rgba(0, 0, 0, 0.87);
  background-image: url("https://res.cloudinary.com/cloud-99/image/upload/v1583834693/ezgif.com-optimize_jjh3pb.gif");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100vh;
  padding: 0;
  margin: 0;
}


.div-article-main {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #66ff66 !important;
  box-shadow: 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  
  
}

.div-article-avatar {
  width: 10vw;
}

body {
  background-color: #333333 !important;
  /* margin-left: 50px !important;
  margin-right: 50px !important;
  padding: 100px; */
}
.div-article-content-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10vw;
  margin-bottom: 12px;

}

.div-article-content-left button {
  /* width: 100%; */
  width: 10vw;
}

.div-article-content-left img {
  width: 10vw;
}

.div-article-content-right {
  border-style: solid;

  
  border-width: 2px;
  background-color: whitesmoke;
  border-color: #66ff66;
  width: 100%;
    
}

.div-article-content-right p {
  
  text-align: center;
  color: #333333;
  margin: 0 auto;
  font-weight: bolder;
  padding: 10px;
  overflow: auto;
  height: 10vh;
  
}


/* h3.article-username {
  
  margin: 0;
  padding: 0;
} */
/* 
.div-article-name-pic {
  display: flex;
  flex-direction: column;
}
.article-message {
  overflow-wrap: break-word;
  hyphens: auto;
  background-color: #333333;
  border-style: double;
  border-color: #333333;
  
  text-align: center;
  padding: 10px;
  color: #66ff66;

} */

/* .article-link {
  text-decoration: none;
  text-align: center;
}
.article-avatar {
  
  border-color: black;
  margin: 20px;
  width: 70px;
  border-style: solid;
}

.article-vote {
  font-weight: bold;
  font-style: oblique;
  text-decoration: none;
  margin: 0 auto;
  color: black;
  background-color: #66ff66;
} */

div#feed_div {
  margin: 0 auto;

}
#feed_div {
  margin: 12px;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}



