doctypehtml
html
  head
    block head

    title &#x1F468;&zwj;&#x1F4BB;#{title}
  body(style="margin: 0")
    header(style=" background-color: #7cff85; box-shadow: 0px 2px 12px;")
      img(src="https://res.cloudinary.com/cloud-99/image/upload/v1581976529/logo_hackr_ajecd0.png")
    block content
   
    block foot
      footer(id="footer" align="center")
        pre. 
          © 2020 &#x1F468;&zwj;&#x1F4BB;Hackr 
          Made By Darius Rain