doctypehtml
html
  head
    block head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="../../styles.css")
    title &#x1F468;&zwj;&#x1F4BB;#{title}
  body(style="margin: 0;")
    header(style=" background-color: #66ff66; opacity: 0.9;box-shadow:0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149)")
      img(src="https://res.cloudinary.com/cloud-99/image/upload/v1581976529/logo_hackr_ajecd0.png")
    block content


    block foot
      //- footer(id="footer" style="margin-bottom: -1; color: #66ff66; text-align: center; font-style: oblique; font-weight: bolder; font-size: 20px;")
      //-   pre. 
      //-     Hackr ©2020
 
      //-     Made By Darius Rain