doctypehtml
html
  head
    block head
    style. 
      * {"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"}
      #footer {"text-align: center; margin: 0 auto; color: white; background-color: black; opacity: 0.7"}
    title &#x1F468;&zwj;&#x1F4BB;#{title}
  body(style="margin: 0")
    header
      #heading-div
        h1(style=" margin: 0; background-color: #7cff85; text-align: center; padding: 12px; box-shadow: 0px 2px 12px;") &#x1F468;&zwj;&#x1F4BB;Hackr
    block content
    block foot
      footer(id="footer")
        p &#x1F468;&zwj;&#x1F4BB;Hackr 
