extends index.pug

block head
    style.  
        #login {background-color: #98ab9b; margin: 0 auto; width: 80%; display: flex; flex-direction: row;}
        .flex-item {width: 20%;}
block content 
     div(id="login")
        a(class="flex-item", href="github") Signup
