extends index.pug

block head
block content 
     div(id="login") 
        div(id="jumbo")
            pre(style="font-size: 30px;"). 
                v1.0.3 
                Log in with github for a test run!
            div(class="button-option")
                a(class="flex-item", href="github")
                    img(src="https://cdn.iconscout.com/icon/free/png-256/github-1693585-1442626.png" width="100px") 
                pre(style="font-size: 30px; border-radius: 45px; background-color: #ff3333;"). 
                    Sign in 