extends index.pug

block head
  script(src="../../user.js" defer)
   
block content
  div(class="container-row-buttons")
    button(class="buttons" id="profile_button") Profile 
    button(class="buttons") Feed
    button(class="buttons" id="headline_button") Headlines
    button(class="buttons" id="logout_button") Logout
  div(id="headline")
    pre. 
      Welcome to hackr (Development version v1.0.3) 

      Now configuring Oauth to appplication (Almost at stable release)
  div(class="container-row" id="profile_box" width="100%")
    div(class="container-item-1")
      div(class="box-banner")
        img(alt="github icon" id="github_icon" src="https://cdn.iconscout.com/icon/free/png-256/github-1693585-1442626.png")    
      a(id="u_name_anchor")           
        img(alt="Photo of user", id="avatar") 
      h1(id="username_text") #{data.username.user}      
      br
      h3(id="bio_text")
      hr
      h3(id="num_repos")
      hr
      div(id="list_repos")
  br
  div(id="post_form", align="center")
    div(class="box-banner")
      h3(style="font-size: 20px;") Post to board  
    div(id="post")
      textarea(id="post_text",name="text", type="text")
      br
      button(id="submit_post", class="buttons-post") Post
      p
  div(id="feed_div") 

