doctypehtml
html
  head
    block head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="../../styles.css")
    title &#x1F468;&zwj;&#x1F4BB;#{title}
  body(style="margin: 0;")
    
    block content


    block foot
